@layer components {
    .btn {
        @apply inline-flex items-center justify-center rounded-full;
        @apply transform-gpu ease-out duration-500 transition-all;
        @apply shadow-md;
        @apply px-4 py-2 sm:py-3;
        @apply sm:text-xl text-zinc-900 dark:text-zinc-900 hover:text-zinc-900 dark:hover:text-zinc-900 focus:text-zinc-900 dark:focus:text-zinc-900;
        @apply font-bold tracking-tight;

        -webkit-tap-highlight-color: transparent;

        &:focus-visible,
        &:hover,
        &:active {
            box-shadow: rgb(94 94 94 / 40%) 0 7px 12px 0;
            transform: translateX(0) translateY(-2px) translateZ(0);
        }

        // With icon
        &._i {
            span {
                @apply pl-2;
            }
        }

        // Primary
        &._prim {
            @apply bg-emerald-300;
            @apply hover:bg-emerald-200 focus:bg-emerald-200;
        }
    }

    .dark .btn {
        &:focus-visible,
        &:hover,
        &:active {
            transform: none;
            box-shadow: rgb(255 255 255 / 70%) 0 0 18px 0;
        }
    }
}
