API_URL=http://localhost:4090/
SERVER_PORT=3000
VITE_SERVER_URL=/server/
VITE_TRACK_GA_ID='UA-XXXXXXXX-1'
VITE_TRACK_GA_MEASUREMENT_ID='G-XXXXXXXXXX'
VITE_RECAPTCHA_SITE_KEY='your_site_key_here'
VITE_RECAPTCHA_SECRET_KEY='your_secret_key_here'
