node_modules
dist
src/tests/**/results
src/tests/**/report
stats.json
todo.md
public/sitemap.xml
.DS_Store
.idea
.history
.env.development
.env.production

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions