services:
  pg-tests-runner:
    build:
      context: .
      dockerfile: Dockerfile.tests
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    environment:
      - NODE_ENV=tests
    volumes:
      - ./:/app
      - /app/node_modules
    command: 'pnpm exec playwright test'
