/* =========================
     CUSTOM UTILITIES
   ========================= */

/* Ultra-low opacity */
@utility op-low {
  opacity: var(--op-low, 0.001);
}

@media (prefers-reduced-motion: reduce) {
  .op-low {
    opacity: 1 !important;
  }
}

/* Show when no JS */
html:not(.js) .op-low,
html:not(.js) .opacity-60 {
  @apply opacity-100;
}

/* Move Up Slightly on Hover / Focus at md breakpoint */
@utility translate-up {
  @apply md:hover:-translate-y-0.5 md:focus-visible:-translate-y-0.5;
}

/* Superscript fallback for unsupported CSS variables */
@utility sup-novar {
  @supports not (color: var(--primary)) {
    display: none;
  }
}

/* Hide when side drawer is open */
body.side-drawer-open button.fixed.z-40 {
  display: none;
}
