@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url("../assets/fonts/roboto-slab-v22-latin-regular.woff2") format('woff2');
}
  
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url("../assets/fonts/roboto-slab-v22-latin-700.woff2") format('woff2');
}
  
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 900;
    font-display: optional;
    src: url("../assets/fonts/roboto-slab-v22-latin-900.woff2") format('woff2');
}
