@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-dw {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.2s ease-in-out 0s forwards;
}

.animate-fade-out {
    animation: fade-out 0.2s ease-in-out 0s forwards;
}

.animate-fade-in-up-1 {
    animation: fade-in-up 0.5s ease-in-out 0.4s forwards;
}

.animate-fade-in-up-2 {
    animation: fade-in-up 0.5s ease-in-out 0.5s forwards;
}

.animate-fade-in-up-3 {
    animation: fade-in-up 0.5s ease-in-out 0.7s forwards;
}

.animate-fade-in-up-4 {
    animation: fade-in-up 0.5s ease-in-out 0.8s forwards;
}

.animate-fade-in-up-5 {
    animation: fade-in-up 0.5s ease-in-out 1s forwards;
}

.animate-fade-in-dw-1 {
    animation: fade-in-dw 0.5s ease-in-out 0.4s forwards;
}

.animate-fade-in-dw-2 {
    animation: fade-in-dw 0.5s ease-in-out 0.5s forwards;
}

.animate-fade-in-dw-3 {
    animation: fade-in-dw 0.5s ease-in-out 0.7s forwards;
}

.animate-fade-in-dw-4 {
    animation: fade-in-dw 0.5s ease-in-out 0.8s forwards;
}

.animate-fade-in-dw-5 {
    animation: fade-in-dw 0.5s ease-in-out 1s forwards;
}
