.ic-link {
    @apply p-3 text-zinc-900 dark:text-zinc-200;
    will-change: transform, opacity;
    -webkit-tap-highlight-color: transparent;

    &:not(a) {
        @apply duration-500 transition-transform;
        @apply hover:text-slate-500 focus:text-slate-500;
    }

    &._hdr {
        @apply ml-2 p-2 md:ml-8;
    }
}

.btn {
    will-change: transform, opacity;
    @apply inline-flex items-center justify-center rounded-full;
    @apply transform-gpu duration-500 transition-transform;
    @apply px-4 py-2 sm:py-3;
    @apply sm:text-xl text-zinc-900 dark:text-white;
    @apply font-bold tracking-tight;
    @apply border align-middle select-none  bg-white/2.5 border-white/50 backdrop-blur-md shadow-[inset_0_1px_0px_rgba(255,255,255,0.75),0_0_9px_rgba(0,0,0,0.2),0_3px_8px_rgba(0,0,0,0.15)] transition-all duration-300 before:absolute before:inset-0 before:rounded-full before:bg-gradient-to-br before:from-white/60 before:via-transparent before:to-transparent before:opacity-70 before:pointer-events-none after:absolute after:inset-0 after:rounded-full after:bg-gradient-to-tl after:from-white/30 after:via-transparent after:to-transparent after:opacity-50 after:pointer-events-none antialiased;

    -webkit-tap-highlight-color: transparent;

    &._i {
        span {
            @apply pl-2;
        }
    }

    &._act {
        @apply opacity-60 pointer-events-none;
    }

    &:focus-visible,
    &:hover,
    &:active {
        @apply bg-white/50 text-zinc-900 dark:text-white;
    }
}

.dark .btn {
    &:focus-visible,
    &:hover,
    &:active {
        @apply shadow-[inset_0_1px_0px_rgba(255,255,255,0.75),0_0_9px_rgba(255,255,255,0.2),0_1px_8px_rgba(255,255,255,0.15)];
    }
}

.sd-tog + .sd {
    @apply translate-x-full;
}

.sd-tog:checked + .sd {
    @apply translate-x-0;
}
