name: CI
on: push
jobs:
  build:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: '10.28.2'
      - name: Set Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24.x'
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Build Project
        run: |
          cp .env.tests .env.production
          pnpm run build
      - name: Run Code Analysis
        run: |
          pnpm run format
          pnpm run lint
      - name: Run Tests - Jest
        run: pnpm run tests:jest
      - name: Run Tests - Playwright
        run: |
          pnpm run tests:pw:build
          pnpm run tests:pw:run
      - name: Upload results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: always()
        with:
          name: pw-results
          path: src/tests/playwright/results
      - name: Upload reports
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: pw-report
          path: src/tests/playwright/report
