name: Deploy to SFTP
on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: '10.30.1'
      - name: Set Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24.x'
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Create .env.production file
        run: |
          echo "TRACK_GA_ID='${{ vars.TRACK_GA_ID }}'" > .env.production
          echo "TRACK_GA_MEASUREMENT_ID='${{ vars.TRACK_GA_MEASUREMENT_ID }}'" >> .env.production
      - name: Build Project
        run: pnpm run build
      - name: Deploy to SFTP
        uses: wlixcc/SFTP-Deploy-Action@a5ccb9c6211a94cc59404f0fdb2a9936a6dfee64 # v1.2.6
        with:
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server: ${{ secrets.FTP_SERVER }}
          port: ${{ secrets.FTP_PORT || 22 }}
          local_path: './dist/*'
          remote_path: ${{ secrets.FTP_REMOTE_PATH }}
