name: Deploy to SFTP
on:
    workflow_dispatch:
    push:
        branches:
            - master

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment: Production
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - name: Set Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
              with:
                  node-version: '24.x'
                  cache: 'pnpm'
            - name: Install Dependencies
              run: pnpm install --frozen-lockfile
            - name: Create .env.production file
              run: |
                  echo "TRACK_GA_ID='${{ vars.TRACK_GA_ID }}'" > .env.production
                  echo "TRACK_GA_MEASUREMENT_ID='${{ vars.TRACK_GA_MEASUREMENT_ID }}'" >> .env.production
            - name: Build Project
              run: pnpm run build
            - name: Deploy to SFTP
              uses: wlixcc/SFTP-Deploy-Action@a5ccb9c6211a94cc59404f0fdb2a9936a6dfee64 # v1.2.6
              with:
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  server: ${{ secrets.FTP_SERVER }}
                  port: ${{ secrets.FTP_PORT || 22 }}
                  local_path: './dist/*'
                  remote_path: ${{ secrets.FTP_REMOTE_PATH }}
