name: Deploy to SFTP
on:
    workflow_dispatch:
    push:
        branches:
            - master

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment: Production
        steps:
            - uses: actions/checkout@v6
            - name: Set Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: '24.x'
                  cache: 'yarn'
            - name: Disable Yarn telemetry
              run: yarn config set enableTelemetry false
            - name: Install Dependencies
              run: yarn install --immutable
            - name: Create .env.production file
              run: |
                  echo "TRACK_GA_ID='${{ vars.TRACK_GA_ID }}'" > .env.production
                  echo "TRACK_GA_MEASUREMENT_ID='${{ vars.TRACK_GA_MEASUREMENT_ID }}'" >> .env.production
            - name: Build Project
              run: yarn build
            - name: Deploy to SFTP
              uses: wlixcc/SFTP-Deploy-Action@v1.2.4
              with:
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  server: ${{ secrets.FTP_SERVER }}
                  port: ${{ secrets.FTP_PORT || 22 }}
                  local_path: './dist/*'
                  remote_path: '/public_html/'
