/* =========================
   CUSTOM BASE STYLES
   ========================= */

html {
  @apply [scrollbar-gutter:stable] scroll-smooth motion-reduce:scroll-auto;
}

body {
  @apply bg-gradient font-sans text-base text-zinc-900 min-block-svh selection:bg-zinc-400 selection:text-zinc-100 dark:text-zinc-200 dark:selection:bg-zinc-100 dark:selection:text-zinc-900;
}

a {
  @apply transition-all duration-300 motion-reduce:transition-none;
  @apply hover:text-zinc-500 focus-visible:text-zinc-500;
  -webkit-tap-highlight-color: transparent;
}

/* -------------------------
    Headings
    ------------------------- */

h1 {
  @apply text-3xl font-bold tracking-tight sm:text-5xl;
}

h2 {
  @apply text-xl font-bold sm:text-2xl;
}

h3 {
  @apply text-lg font-semibold text-zinc-900 dark:text-zinc-100;
}

h4 {
  @apply font-semibold text-zinc-900 dark:text-zinc-100;
}

h1,
h2,
h3,
h4,
h5 {
  @apply drop-shadow-[0_1px_0_rgba(255,255,255,0.7)] dark:drop-shadow-[0_1px_0_rgba(0,0,0,0.7)];
}

h1 {
  span {
    @apply block;

    + span {
      @apply mt-2 text-xl font-light tracking-normal lowercase sm:text-2xl;
    }
  }
}

/* Hide native details marker */
summary {
  @apply list-none;
}

summary::-webkit-details-marker {
  display: none;
}

/* Show scrollbar on horizontal snap containers when JS is disabled */
.snap-x::-webkit-scrollbar,
.snap-x::-webkit-scrollbar-thumb {
  @apply rounded-full;
}

.snap-x::-webkit-scrollbar {
  height: 0.375rem;
  width: 0.375rem;
}

.snap-x::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .snap-x::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
  }
}

@media print {
  header,
  footer,
  nav,
  .cookie-consent-bar,
  [data-scroll-btn],
  .overlay,
  .interactive,
  button,
  [role="tooltip"] {
    @apply !hidden;
  }
  body {
    @apply !bg-white !text-black;
  }
}
